body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('imagenes/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
  }
  .contenedor {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    min-height: 100vh;
  }
  .frase {
    font-size: 1.5em;
    margin: 20px auto;
    margin-left: -10vw;
  }
  .frases {
    font-size: 4vw;
    margin: 20px;
    font-family: serif;
  }
  .galeria img {
    width: 250px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px white;
  }
  .galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .titulo{
    font-size: 7vw;
    font-family: 'Great Vibes', cursive;
    margin: 20px;
  }
  .nom{
    font-size: 15vw;
    font-family: 'PT Sans';
    margin: 20px;
  }
  .foot{
    margin: 20px;
  }
  .foots{
    font-size: 2vw;
  }